.portfolio_div{
    
}

.chooseProject {
    margin: 0;
    text-align: center;
    padding: 15px;
    color: rgb(252, 229, 162);
    text-shadow: black 3px 3px 3px;
}

.projectTitle {
    font-weight: bolder;
    text-shadow: black 3px 3px 3px;
}


@media only screen and (max-width: 767px) {
    
    .carousel {
        width: 50%
    }
}

