@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

html body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
  background: white;
}

.mainApp {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  background-color: whitesmoke;
}

.header {
  box-sizing: border-box;
  width: 100%;
  min-height: 120px;
  padding: 10px auto 0 auto;
}

.headerColor1 {
  background-color: whitesmoke;
  color: black;
}

.headerColor2 {
  background-color: rgb(189, 14, 14);
  color: rgb(230, 185, 71);
}

.headerColor3 {
  background-color: rgb(223, 219, 219);
}

.headerColor3 h1 {
  background-image: linear-gradient( rgb(219, 48, 48), rgb(219, 48, 48), rgb(56, 219, 50), 
  rgb(21, 62, 197),rgb(247, 217, 51), rgb(247, 217, 51));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headerColor4 {
  background-image: linear-gradient(45deg, rgb(250, 141, 250), rgb(126, 42, 126));
  color: rgb(77, 229, 240);
  text-shadow: rgb(71, 68, 68) 3px 3px 3px;
}

.headlineBtn {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  margin-left: 4%;
  margin-top: 0;
  margin-right: 4%;
  padding: 10px 0;
}

.headline {
  width: 80%;
  margin: 0;
  padding: 0;
}

.changingAreaApp {
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 120px);
  background-image: url(/image/home-office-599475_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.languageBtn {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
}

.header button {
  width: 50px;
  height: 25px;
  margin-left: 5px;
  border-style: none;
  border-radius: 5%;
  cursor: pointer;
}

.germanFlag {
  background: url(/image/german.png);
  background-size: contain;
}

.englishFlag {
  background: url(/image/english.png);
  background-size: contain;
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
  .headline {
    width: 75%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .headline {
    width: 70%;
  }
}

@media only screen and (min-width: 375px) and (max-width: 599px) {
  .headline {
    font-size: 1.1em;
    width: 65%;
  }

  .header {
    min-height: 90px;
  }

  .changingAreaApp {
    height: calc(100% - 90px);
  }
}

@media only screen and (max-width: 374px) {
  .headline {
    width: 60%;
    font-size: 1em;
  }

  .header {
    min-height: 90px;
  }

  .changingAreaApp {
    height: calc(100% - 90px);
  }
}


@media only screen and (max-width: 767px) {
  .headline {
    margin-left: 0;
  }
}