.foodata_div {
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}

.inner_foodata {
    box-sizing: border-box;
    margin: 0 auto;
    padding-bottom: 20px;
    min-height: 100%;
    background-color: rgba(245, 245, 245, 0.5);
}

.inner_foodata h3 {
    margin: 0;
    color: rgb(252, 229, 162);
    text-shadow: black 3px 3px 3px;
    padding-top: 15px;
    text-align: center;
}

.inner_foodata h2 {
    padding-top: 15px;
    text-align: center;
}

.inner_foodata a {
    color: rgb(252, 229, 162);
    text-shadow: black 3px 3px 3px;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .inner_foodata h3 {
        padding-top: 15px;
        font-size: 0.9em;
    }    

}

@media screen and (max-width: 374px) {
    .inner_foodata h3 {
        padding-top: 15px;
        font-size: 0.8em;
    }

}