.startPage_div {
    width: 100%;
    color: rgb(252, 229, 162);
    text-shadow: black 3px 3px 3px;
}

.photo {
    text-align: center;
}

.welcome {
    text-align: left;
    margin-left: 20px;
    padding-top: 10px;
}

.homepage{
    text-align: right; 
    margin-right: 20px;
    margin-bottom: 35px;
}

.photoStartPage {
    background-color: lightgrey;
    width: 200px;
    height: 200px;
    border: 3px solid rgb(252, 229, 162);
    border-radius: 50%;
}

.styleHeadline {
    text-align: center;
}

.btnLine {
    margin: 0 200px;
    padding-bottom: 20px    ;
    display: flex;
    justify-content: space-evenly;
    }

.colorBtn {
    width: 20%;
    height: 50px;
    border-style: none;
    border-radius: 5%;
    cursor: pointer;
    margin: 0 5px;

}

.colorBtn:nth-child(1) {
    background-image: linear-gradient(90deg, white, black );
}

.colorBtn:nth-child(2) {
    background-image: linear-gradient(90deg, rgb(83, 80, 80), rgb(189, 14, 14), rgb(230, 185, 71) 100%);
}

.colorBtn:nth-child(3) {
    background-image: linear-gradient(90deg, rgb(245, 245, 245), rgb(219, 48, 48),rgb(56, 219, 50), rgb(21, 62, 197),rgb(247, 217, 51));
}

.colorBtn:nth-child(4) {
    background-image: linear-gradient(90deg, rgb(77, 229, 240), rgb(26, 178, 189), rgb(250, 141, 250), rgb(126, 42, 126));
}

@media (max-width:767px) {
    
    .startPage_div h2 {
        font-size: 1.1em;
    }
    
    .photoStartPage {
        width: 150px;
        height: 150px;
    }
    .languageHeadline {
        font-size: 0.8em;
    }
    .homepage {
        text-align: center;
        margin-right: 0;
    }
    .welcome {
        text-align: center;
        margin-left: 0;
    }
    
    .btnLine {
        margin: 0 auto;
        text-align: center;
        justify-content: space-evenly;
    }

    .colorBtn {
        width: 80px;
        height: 40px;
    }
}